body {
    margin: 0;
    padding: 0;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
    
    box-shadow: 
        -1px 0 10px 0 #dbdbdb,
        1px 0 10px 0 #dbdbdb;       
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.main-header {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    background-color: #ffffff;
    
    position: relative;
    
}

.main-header-logo {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translate(-50%, 0);
}

.header-navigation {
    list-style: none;
    
    display: flex;
    padding: 0;
    margin: 0;
    
    padding-left: 6%;
    padding-right: 6%;
}

.header-navigation li {
    width: 20%;
    
    padding-top: 16px;
    padding-bottom: 15px;
}

.header-navigation-photo {
    padding-left: 3%;
}

.header-navigation-map {
   padding-right: 3%; 
}

.header-navigation-information,
.header-navigation-photo {
    text-align: left;
}

.header-navigation-map,
.header-navigation-hotels {
    text-align: right;
}

.header-navigation-photo {
    margin-right: auto;
}

.header-navigation-map {
    margin-left: auto;
}

.header-navigation .active {
    color: #766357;
}

.header-navigation a {
    color: #000000;
    font-weight: bold;
}

.header-navigation a[href]:hover,
.header-navigation a[href]:focus {
color: #81b3d2;
}

.header-navigation a[href]:active {
    color: rgba(0,0,0,0.3);
}

.main-slogan {
    background-color: #81b3d2;
    background-image: url(../img/welcome-to-sedona-mask.png), url(../img/welcome-to-sedona-background.jpg);
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: bottom, 0 -55px;
    
    display: flex;
}

.main-slogan img {
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;

}

.sedona-privilege h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    
    margin: 0;
}

.sedona-privilege h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #000000;
    
    margin: 0;
}

.sedona-privilege p {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    
    margin: 0;
}

.first-privilege .color-change {
    color: #ffffff;
}

.second-privilege .color-change {
    color: #ffffff;
}

.sedona-privilege-header {
    text-align: center;
    background-color: #ffffff;
}

.sedona-privilege-header h2 {
    padding-top: 60px;
    padding-bottom: 29px;
}

.sedona-privilege-header p {
    padding-bottom: 53px;
}

.sedona-privilege-header-container {
    width: 490px;
    margin: 0 auto;
}

.first-privilege {
    display: flex;
    
    min-height: 256px;
}

.first-privilege-description {
    text-align: center;
    background-color: #81b3d2;
    
    width: 33.333%;
}

.first-privilege-description h3 {
    width: 130px;
    margin: 0 auto;
    
    padding-top: 49px;
    padding-bottom: 23px;
}

.first-privilege-description p {
    padding-left: 15.25%;
    padding-right: 15.25%;
    padding-top: 21px;
}

.first-privilege-background {
    background-color: #8b7468;
    background-image: url(../img/first-privilege-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 66.666%;
}

.sedona-privilege-life {
    background-color: #ffffff;
    text-align: center;
    
    display: flex;
}

.sedona-privilege-life p {
    padding-top: 22px;
    padding-bottom: 82px;
    
}

.column-width {
    width: 33.333%;
}

.life-house::before {
    content: url(../img/icon-1.svg);
    
    display: block;
    padding-top: 60px;
    padding-bottom: 25px;
}

.life-food::before {
    content: url(../img/icon-3.svg);
    
    display: block;
    padding-top: 60px;
    padding-bottom: 26px;
}

.life-souvenirs::before {
    content: url(../img/icon-2.svg);
    
    display: block;
    padding-top: 56px;
    padding-bottom: 25px;
}

.life-house p {
    width: 64%;
    margin: 0 auto;
}

.life-food p {
    width: 71.1%;
    margin: 0 auto;
}

.life-souvenirs p {
    width: 68.25%;
    margin: 0 auto;
}

.second-privilege {
    display: flex;
    min-height: 256px;
}

.second-privilege-background {
    background-color: #967360;
    background-image: url(../img/second-privilege-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 66.666%;
}

.second-privilege-description {
    background-color: #81b3d2;
    text-align: center;
    
    width: 33.333%;
}

.second-privilege-description h3 {
    width: 151px;
    margin: 0 auto;
    
    padding-top: 48px;
    padding-bottom: 23px;
}

.second-privilege-description p {
    padding-left: 12.25%;
    padding-right: 12.25%;
    padding-top: 21px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.last-privilege {
    background-color: #eeeeee;
    text-align: center;
    
    display: flex;
}

.last-privilege h3 {
    width: 120px; 
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 22px;
}

.last-privilege p {
    padding-top: 21px;
    padding-bottom: 59px; 
}

.third-privilege p {
    width: 54.4%;
    margin: 0 auto;
}

.fourth-privilege p {
    width: 66%;
    margin: 0 auto;
    
}

.fifth-privilege p {
    width: 65.5%;
    margin: 0 auto;
    
}

.hotel-search {
    position: relative;
}

.hotel-search-header {
    text-align: center;
    background-color: white;
}

.hotel-search-header span {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
    
    display: block;
    padding-top: 52px;
    padding-bottom: 23px;
}

.hotel-search-header p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #333333;
    
    margin: 0 auto;
    padding-bottom: 46px;
}

.hotel-search-header button {
    font-family: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 0;
    
    background-color: #766357;
    
    width: 568px;
    padding-top: 31px;
    padding-bottom: 29px;
}

.hotel-search-header button:hover,
.hotel-search-header button:focus {
    background-color: #604e43;
}

.hotel-search-header button:active {
    color: rgba(255,255,255,0.3);
    
    background-color: #503e33;
}

.hotel-search-form {
    background-color: #ffffff;
    
    box-sizing: border-box;
    width: 568px;
    height: 395px;
    left: 50%;
    margin-left: -284px;
    padding: 55px;
   
    position: absolute;
    z-index: 1;
    
    display: flex;
    flex-direction: column;  
}

.hotel-search-form p {
    margin: 0;
    
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 29px;
}

.hotel-search-form span {
    display: block;
    
    position: relative;
}

.hotel-search-form label {
    align-self: center;
}

.hotel-search-form,
.hotel-search-form input {
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

.hotel-search-form input {
    background-color: #f2f2f2;
    border: none;
}

.hotel-search-form input:hover {
    background-color: #ebebeb;
}

.hotel-search-form input:focus {
    background-color: white;
    outline: 2px solid #e5e5e5;
}

.hotel-search-form > p:first-of-type input,
.hotel-search-form > p:nth-of-type(2) input {
    box-sizing: border-box;
    width: 346px;
    height: 38px;
    
    padding-left: 12px;
}

.button-calendar {
    background-color: transparent;
    border: none;
    
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -12px;
}

.button-calendar:hover svg {
    fill: #000000;
}

.button-calendar:active svg {
    fill: #81b3d2;
}

.age-container {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: auto;
}

.age-container input {
    width: 114px;
    height: 38px;
    text-align: center;
}
.age-container p {
    display: flex;
    justify-content: space-between;
    
    width: 227px;
}

.age-container p:nth-child(1) {
    width: 227px; 
}

.age-container p:nth-child(2) {
    width: 180px;
}

.age-container span {
    position: relative;
}

.button-minus {
    font-family: inherit;
    background-color: transparent;
    border: none;
    color: #a9a9a9;
    font-size: 50px;
    line-height: 0;
    
    position: absolute;
    top: 47%;
    left: 4px;
}

.button-plus {
    font-family: inherit;
    background-color: transparent;
    border: none;
    color: #a9a9a9;
    font-size: 30px;
    line-height: 0;
    
    position: absolute;
    top: 55%;
    right: 5px;
}

.button-minus:hover {
    color: #000000;
}

.button-minus:active {
    color: #81b3d2;
}

.button-plus:hover {
    color: #000000;
}

.button-plus:active {
    color: #81b3d2;
}

.button-search {
    font-family: inherit;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 0;
    
    background-color: #81b3d2;
    
    width: 458px;
    height: 58px;
    
    margin-top: auto;
    
}

.button-search:hover {
    background-color: #669ec0;
}

.button-search:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3)
}

.main-footer {
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: space-around;
}

section.main-footer {
    position: absolute;
    bottom: 0;
}

.main-footer-container {
    position: relative;
}

.main-footer-container iframe {
    position: absolute;
    top: 0;
}

.main-footer-container img{
    display: block;
    
}

.main-footer b {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    
    padding-top: 47px;
    padding-left: 29px;
    margin: 0;
}

.main-footer li {
    list-style: none;
    background-color: #81b3d2;
    
    width: 46px;
    height: 48px;
    vertical-align: bottom;
    position: relative;
}

.main-footer li:hover {
    background-color: #669ec0;
}

.main-footer li:active {
    background-color: #5496bd;
}

.main-footer li:active svg{
    fill: rgba(255,255,255,0.3);
}

.main-footer p {
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000;
}

.social-buttons {
    margin: 0;
    padding: 0;
    font-size: 0;
    
    padding-top: 35px;
    padding-left: 45px;
}

.social-buttons li {
    display: inline-block;
    text-align: center;
    
    margin-left: 6px;
}

.social-buttons svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.htmlacademy-title {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 4px;
}

.htmlacademy-title p {
    margin-right: 9px;
}

.htmlacademy-logo:hover svg {
    fill: #81b3d2;
}

.htmlacademy-logo:active svg {
    fill: #bdbbbc;
}

.hotel-search-list {
    background-color: #546470;
    background-image: url(../img/welcome-to-sedona-background-blur.jpg);
    background-position: 0 -290px;
    background-size: cover;
    
    min-height: 217px;
    
    display: flex;
}

.hotel-search-list ul {
    margin: 0;
    padding: 0;
}

.hotel-search-list button {
    padding: 0;
}

.hotel-search-list legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: white;
    
    padding-top: 29px;
    padding-bottom: 22px;
}

.hotel-search-list fieldset {
    border: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: white;
}

.hotel-search-list li {
    list-style: none;
    margin-bottom: 23px;
}

.infrastructure {
    width: 141px;
    padding: 0;
    margin: 0;
    margin-left: 5.916%;
    
    flex-shrink: 0;
}

.type-of-building {
    width: 138px; 
    padding: 0;
    margin: 0;
    margin-left: 9.583%;
    
    flex-shrink: 0;
  
}

.cost-per-day {
    padding: 0;
    margin: 0;
    width: 26.5%;
    margin-left: auto;
    margin-right: 5.916%;
    
    flex-shrink: 0;
}

.filter-option label {
    display: flex;
    align-items: center;
}

.filter-option input[type="checkbox"] + span {
    width: 27px;
    height: 23px;
    display: block;
    
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filter-option input[type="checkbox"]:checked + span {
    background-image: url(../img/checkbox-on.svg);
}

.filter-option span {
    margin-right: 15px;
}

.price-controls {
  position: relative;
  
  height: 34px;
  margin-bottom: 20px;
  display: flex;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost-per-day legend {
    padding-bottom: 7px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  text-align: center;

  cursor: pointer;
  
  margin: 0 auto;
}

.price-controls .min-price {
  width: 55px; 
  margin-left: 20%;
}

.price-controls .max-price {
  width: 55px;
}

.price-controls input {
  width: 30px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.range-toggle:hover svg {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.cost-per-day .show-button {
  display: block;
  margin: 0 auto;
  padding: 6px 0;
  width: 136px;
  margin-left: 27%;
  margin-right: 27%;

  font-size: 14px;
  line-height: 20px;
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
    
    
}

.show-button:hover {
    background-color: white;
    color: black;
}

.found-hotels h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: black;
    
    margin: 0;
    margin-right: 56px;
}

.found-hotels-left {
    display: flex;
    margin-left: 5.83%;
    margin-right: auto;
    
    align-items: flex-end;
}

.found-hotels-left ul{
    display: flex;
    justify-content: space-between;
    width: 353px;
    
    margin: 0;
    padding: 0;
}

.found-hotels li {
    list-style: none;
}

.found-hotels-sort {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: black;
}

.found-hotels {
    background-color: white;
    
    display: flex;
    padding: 31px 0;
    padding-bottom: 29px;
}

.found-hotels a {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: rgba(0,0,0,0.3);
    
    border-bottom: 1px dotted #81b3d2; 
}

.found-hotels a:hover {
    color: #81b3d2;
}

.found-hotels a:active {
    color: black;
    border: none;
}

.found-hotels .found-active {
    color: #81b3d2;
    border: none;
}

.hotel-sorting-buttons {
    margin-left: auto;
    margin-right: 5.25%;
    padding-top: 3px;
}

.hotel-sorting {
    border: none;
    background-color: rgba(0,0,0,0);
    
    padding: 0 6px;
}

.hotel-sorting svg {
    background-color: transparent;
    fill: #cacaca;
}

.hotel-sorting svg:hover {
    fill: black;
}

.hotel-sorting svg:active {
    fill: #81b3d2;
}

.hotel-sorting-active svg {
    fill: #81b3d2;
}

.hotels-list {
    background-color: white;
}

.hotels-list h3 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: black;
    
    margin: 0;
}

.hotels-list h3:hover {
    color: #81b3d2;
}

.hotels-list h3:active {
    color: rgba(0,0,0,0.3)
}

.hotels-list p {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #333333;
    
    margin: 0;
}

.hotels-list .hotel-information {
    display: block;
    background-color: #81b3d2;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: white;
    
    padding: 3px 17px;
    margin-right: 6px;
    margin-top: 16px;
}

.hotels-list .hotel-information:hover {
    background-color: #669ec0;    
}

.hotels-list .hotel-information:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
}

.hotels-list button {
    background-color: #766357;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
    color: white; 
    
    border: none;
    border-radius: 0;
    
    padding: 3px 16px;
    margin-top: 16px;
}

.hotels-list button:hover{
    background-color: #604e43;
}

.hotels-list button:active{
    background-color: #503e33;
    color: rgba(255,255,255,0.3); 
}

.hotels-list .star {
    background-image: url(../img/star.svg);
    
    display: inline-block;
    width: 18px;
    height: 17px;   
}

.hotels-list .rating {
    color: #666666;
    background-color: #f2f2f2;
    padding: 3px 16px; 
    margin-right: 8px;
    margin-bottom: 8px;
}

.hotel-unit {
    display: flex;
    padding: 30px 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-unit:first-of-type {
    border-top: 1px solid #e5e5e5;
}

.hotel-unit > a {
    margin-right: 30px;
    margin-left: 5.83%;
}

.hotel-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    
    width: 258px;
}

.hotel-container p {
    display: block;
    width: 110px;
}

.star-container {
    margin-left: auto;
    margin-right: 5.25%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.hotel-stars {
    margin-right: 8px;
}

